{% load static %}

<script src="{% static "lib/js/jquery.min.js" %}"></script>
<script src="{% static "lib/js/core.min.js" %}"></script>
<script src="{% static "lib/js/nicescroll.min.js" %}"></script>
<script src="{% static "lib/js/app.min.js" %}"></script>
<script src="{% static "lib/js/animated-tabs.min.js" %}"></script>
<script src="{% static "lib/js/datatables/datatables.min.js" %} "></script>
<script src="{% static "lib/js/datatables/dataTables.buttons.min.js" %}"></script>
<script src="{% static "lib/js/datatables/jszip.min.js" %}"></script>
<script src="{% static "lib/js/datatables/buttons.html5.min.js" %}"></script>
<script src="{% static "lib/js/datatables/pdfmake.min.js" %}"></script>
<script src="{% static "lib/js/datatables/vfs_fonts.js" %}"></script>
<script src="{% static "lib/js/datatables/buttons.print.min.js" %}"></script>
<script src="{% static "lib/js/noty.min.js" %}"></script>

<script src="{% static "lib/js/tables.js" %}"></script>
<script src="{% static "custom/js/custom.js" %}"></script>