{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="www.sevdimali.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {#    <link rel="shortcut icon" href="{% static_env "assets/images/favicon.png" %}">#}
    {% include "_partials/links.html" %}
</head>
<body>
<!-- Begin Header -->
<header class="header">
    <nav class="navbar fixed-top">

        <!-- Begin Topbar -->
        <div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
            <!-- Begin Logo -->
            <div class="navbar-header">
                <a href="#" class="navbar-brand">
                    <div class="brand-image brand-big">
                        <img src="{% static 'assets/img/logo-big.png' %}" alt="logo" class="logo-big">
                    </div>
                    <div class="brand-image brand-small">
                        <img src="{% static 'assets/img/logo.png' %}" alt="logo" class="logo-small">
                    </div>
                </a>
                <!-- Toggle Button -->
                <a id="toggle-btn" href="#" class="menu-btn active">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <!-- End Toggle -->
            </div>
            <!-- End Logo -->
        </div>
        <!-- End Topbar -->
    </nav>
</header>
<!-- End Header -->
{% block main %}

{% endblock %}
<!-- Begin Page Footer-->
<footer class="main-footer fixed-footer">
    {% include '_partials/footer.html' %}
</footer>
<!-- End Page Footer -->
{% include "_partials/scripts.html" %}
{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            $(document).ready(function () {
                new Noty({
                    type: 'notification',
                    layout: 'center',
                    text: '{{ message }}',
                    closeWith: ['click', 'button'],
                    animation: {
                        open: 'animated fadeInDown', // Animate.css class names
                        close: 'animated fadeOutUp' // Animate.css class names
                    }
                }).show()
            })
        </script>
    {% endfor %}
{% endif %}
{% block js_import %}
{% endblock %}
</body>
</html>