{% extends "base.html" %}`
{% load static %}
{% block main %}

    <div id="preloader">
        <div class="canvas">
            <img src="{% static 'assets/img/logo.png' %}" alt="logo" class="loader-logo">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <div class="page">
        <!-- Begin Page Content -->
        <div class="page-content d-flex align-items-stretch">
            <!-- End Left Sidebar -->
            <div class="content-inner">
                <div class="container-fluid">
                    <!-- Begin Page Header-->
                    <div class="row">
                        <div class="page-header">
                            <div class="d-flex align-items-center">
                                <h2 class="page-header-title">Başlanğıc</h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Page Header -->
                    <!-- Begin Row -->

                    <div class="row flex-row">
                        <div class="col-12">
                            <!-- Export -->
                            <div class="widget has-shadow">
                                <div class="widget-header bordered no-actions d-flex align-items-center">
                                    <h4>Imtahanlaraın siyahısı</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                            <tr>
                                                <th>Imtahan adi</th>
                                                <th>Tarix</th>
                                                <th>Nəticələr</th>
                                                <th>Düzgün Cavablar</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for imtahan in imtahanlar %}

                                                <tr>
                                                    <td><span class="text-primary">{{ imtahan.name }}</span></td>
                                                    <td><span class="text-primary">{{ imtahan.tarix }}</span></td>
                                                    <td>
                                                        <a href="{% url 'neticeler' pk=imtahan.pk %}"><button type="button" class="btn btn-success">Nəticələr</button></a>
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'exam_correct' pk=imtahan.pk %}"><button type="button" class="btn btn-warning">Düzgün Cavablar</button></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- End Default -->
                            <!-- End Export -->
                        </div>
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Container -->
            </div>
            <!-- End Content -->
        </div>
        <!-- End Page Content -->
    </div>
{% endblock %}