{% extends "base.html" %}`
{% load static %}
{% block main %}

    <div id="preloader">
        <div class="canvas">
            <img src="{% static 'assets/img/logo.png' %}" alt="logo" class="loader-logo">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <div class="page">

        <!-- Begin Page Content -->
        <div class="page-content d-flex align-items-stretch">
            <!-- End Left Sidebar -->
            <div class="content-inner">
                <div class="container-fluid">
                    <!-- Begin Page Header-->
                    <div class="row">
                        <div class="page-header">
                            <div class="d-flex align-items-center">
                                <h2 class="page-header-title"><span class="text-primary">{{ imtahan.name }}</span> Nəticələr</h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Page Header -->
                    <!-- Begin Row -->


                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-12">
                            <!-- Begin Timeline -->
                            <div class="timeline timeline-line-solid">
                                {% for i in duzgun %}
                                    <!-- Begin Timeline Item -->
                                    <div class="timeline-item">
                                        <div class="timeline-point timeline-point"></div>
                                        <!-- Begin Timeline Event -->
                                        <div class="timeline-event">
                                            <!-- Begin Widget -->
                                            <div class="widget has-shadow">
                                                <!-- Begin Widget Header -->
                                                <div class="widget-header d-flex align-items-center">

                                                    <div class="d-flex flex-column mr-auto">
                                                        <div class="title">
                                                            <span class="username">{{ i.author.get_full_name }}</span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- End Widget Header -->
                                                <!-- Begin Widget Body -->
                                                <div class="widget-body">
                                                    <p>
                                                        {{ i.descriptions }}
                                                    </p>
                                                    <hr>
                                                    <a href="{{ i.file.url }}" target="_blank" download> Fayli acin </a>
                                                </div>
                                                <!-- End Widget Body -->
                                            </div>
                                            <!-- End Widget -->
                                            <div class="time-right">Son yenilənmə: {{ i.udate }}</div>
                                        </div>
                                        <!-- End Timeline Event -->
                                    </div>
                                    <!-- End Timeline Item -->
                                {% endfor %}
                            </div>
                            <!-- End Timeline -->
                        </div>
                    </div>
                    <!-- End Row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="widget has-shadow">
                                <div class="widget-body">
                                    <form action="{{ request.path }}" method="POST" id="upload-exam-form"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label class="col-lg-3 form-control-label"
                                                   for="description">Aciqlama</label>
                                            <textarea id="description" name="descriptions" rows="4"
                                                      cols="50"></textarea>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 form-control-label">Fayl Seçin</label>
                                            <div class="col-lg-9 select mb-3">
                                                <input type="file" name="file" class="form-control-file"
                                                       id="exampleFormControlFile1">
                                            </div>
                                        </div>

                                        <div class="text-right">
                                            <button class="btn btn-gradient-01" type="submit">Əlavə et</button>
                                            <button class="btn btn-shadow" type="reset">Sıfırla</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Container -->


            </div>
            <!-- End Content -->
        </div>
        <!-- End Page Content -->
    </div>
{% endblock %}